* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

body {
	background: #1E2D3B;
	min-height: 100vh;
}

.container {
	width: 1070px;
	height: 100%;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 70px;
	background: rgb(46, 58, 70);
}

header img {
	height: 50px;
	margin-top: 10px;
}

.cds-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 0 60px 0;
}

.cd {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	flex-basis: 200px;
	padding: 20px;
	margin: 10px 20px;
	height: 360px;
	background: rgb(46, 58, 70);
	text-align: center;
}

.cd img {
	max-width: 100%;
}

.cd h3 {
	margin: 20px 0;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
}

.cd span.author {
	color: grey;
	font-size: 20px;
}

.cd span.year {
	color: grey;
}


/* Checkbox style */

#check-box {
	width: 60%;
	min-width: 1080px;
	margin: 25px auto;
	padding: 10px 0;

	display: flex;
	justify-content: center;

	font-size: 18px;

	color: grey;
	border-bottom: 3px solid #2e3a46;
}


/* CUSTOM "CHECKED" ICON */
.box input:checked~label:before {
	font-size: 19px;
	content: "\266A";

	color: #1E2D3B;
	background-color: rgb(64, 214, 102);
	border: 2px solid rgb(64, 214, 102);
}


.box input {
	display: none;
}

/* CUSTOM SQUARE */
.box label:before {
	display: inline-block;
	content: "\00a0";
	border-radius: 8px;
	/* Blank space */
	width: 20px;
	margin-right: 5px;
	text-align: center;
	background: transparent;
	border: 2px solid grey;
}

/* OPTIONAL COSMETICS */
.box {
	font-size: 18px;
	line-height: 20px;
	margin: 10px 0;
	padding: 0 20px;
}

/* all boxes except first */
#check-box .box:not(:last-child) {
	border-right: 3px solid #2e3a46;

}


.box label {
	cursor: pointer;
}




.box label:hover {
	color: rgb(64, 214, 102);
}

.box label:hover::before {
	border: 2px solid rgb(64, 214, 102);
	/* background: rgb(64, 214, 102); */
}